{% include member.html name="Felix Zhang" role="masters" url="" image="images/felixzhang.jpeg" content="" %}
{% include member.html name="Akshay Arun Bapat" role="phd" url="" image="images/akshay-bapat.webp" content=" " %}
{% include member.html name="Alexey Khrabrov" role="alum-phd" url="" image="images/alexey.webp" content=" " %}
{% include member.html name="Alireza Shateri" role="phd" url="" image="images/alireza.webp" content="" %}
{% include member.html name="Anand Jayarajan" role="phd" url="" image="images/anand.webp" content="" %}
{% include member.html name="Andreas Burger" role="phd" url="" image="images/andreas.webp" content="" %}
{% include member.html name="Brian Fu" role="alum-phd" url="" image="images/brianfu.webp" content=" " %}
{% include member.html name="Brian Ramprasad" role="phd" url="" image="images/brianr.webp" content=" " %}
{% include member.html name="Christian Tabbah" role="masters" url="" image="images/christian.webp" content="" %}
{% include member.html name="Christina Christodoulakis" role="postdoc" url="" image="images/christinac.webp" content="" %}
{% include member.html name="Christina Giannoula" role="postdoc" url="" image="images/christinag.webp" content="" %}
{% include member.html name="Egil Karlsen" role="phd" url="" image="images/egil.webp" content="" %}
{% include member.html name="Filip Grigorov" role="masters" url="" image="images/filip.webp" content="" %}
{% include member.html name="Gavin Guan" role="phd" url="" image="images/gavin.webp" content="" %}
{% include member.html name="Guy Khazma" role="phd" url="" image="images/guy.webp" content=" " %}
{% include member.html name="Jason (Jiasheng) Hu" role="phd" url="" image="images/jiasheng.webp" content="" %}
{% include member.html name="John Doe" role="phd" url="" image="images/photo.webp" content=" " %}
{% include member.html name="Kai Shen" role="phd" url="" image="images/kai.jpg" content=" " %}
{% include member.html name="Kevin Song" role="phd" url="" image="images/kevin.webp" content="" %}
{% include member.html name="Mohammadreza Mofayezi" role="phd" url="" image="images/mohammadreza.webp" content="" %}
{% include member.html name="Moshe Gabel" role="research-associate" url="" image="images/moshe.webp" content=" " %}
{% include member.html name="Myles Thiessen" role="phd" url="" image="images/myles.webp" content=" Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. " %}
{% include member.html name="Navid Eslami" role="phd" url="" image="images/navid.webp" content=" " %}
{% include member.html name="Nika Mosayebibehrooz" role="masters" url="" image="images/nika.webp" content="" %}
{% include member.html name="Pawan Kumar Sanjaya" role="phd" url="" image="images/pawan.webp" content="" %}
{% include member.html name="Pritish Mishra" role="phd" url="" image="images/pritish.webp" content=" " %}
{% include member.html name="Renbo Tu" role="phd" url="" image="images/renbo-30p.webp" content="" %}
{% include member.html name="Ruofan Liang" role="phd" url="" image="images/ruofan.webp" content="" %}
{% include member.html name="Sahar Sheikholeslami" role="alum-masters" url="" image="images/sahar.webp" content="" %}
{% include member.html name="Sajad Faghfoor Maghrebi" role="phd" url="" image="images/sajad.webp" content=" " %}
{% include member.html name="Salaar Liaqat" role="phd" url="" image="images/salaar.webp" content=" " %}
{% include member.html name="Sankeerth Durvasula" role="phd" url="" image="images/sankeerth.webp" content="" %}
{% include member.html name="Sejal Bhalla" role="phd" url="" image="images/sejal.webp" content="" %}
{% include member.html name="Shaopeng Lin" role="phd" url="" image="images/shaopeng.webp" content="" %}
{% include member.html name="Shikhar Jaiwal" role="phd" url="" image="images/shikhar-jaiswal.webp" content="" %}
{% include member.html name="Yu Bo Gao" role="phd" url="" image="images/yu.webp" content="" %}
{% include member.html name="Zechen Ma" role="phd" url="" image="images/zechen.webp" content="" %}
